<div class="container">
  <div class="content">
    <h1>
      TOSE Talk
    </h1>
    <p>
      TOSE-Talk is an opportunity to listen to the first-hand account of the scientific discoveries. Scientists, engineers and professors working in reputed research labs and academics will be invited to deliver a general public talk to a wide range of audience.  
      <br>
      Nature of this talk will be introductory and meant primarily to incite a threshold curiosity among the audience about their research work. The content delivered will be well within the limits of a 101 course, which means no prior exposure to the subject is expected from the audience.
    </p>
    <h2>
      Tentative topics:
    </h2>
    <ul>
      <li>Science of climate change</li>
      <li>Life on Mars, a feasibility report</li>
      <li>Neuroscience the unexplored world</li>
      <li>Evolution, Homo-sapiens to Robo-sapiens</li>
      <li>Human genome </li>
      <li>Space-time </li>
      <li>Universe micro to macro</li>
      <li>Theory of everything</li>
      <li>Quantum computing</li>
      <li>Time travel</li>
      <li>Science of birth and death </li>
      <li>Origin of universe</li>
      <li>Origin of life</li>
      <li>Origin of civilization</li>
      <li>Origin of language, art and exhibitions </li>
    </ul>
  </div>
</div>