.container {
  margin: 0;
  padding: 0;
  position:absolute;
  top: 0;
  height: 100%;
  font-family: 'Poiret One', sans-serif;
  overflow-x: hidden;
}

.content {
  margin: 4%;
  color: white;
  font-size: 30px;
}

.content h1 {
  font-size: 50px;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(92%, 2fr));
  grid-gap: 4%;
}

.wrap {
  box-shadow: 0 0 10px rgba(200, 201, 201, 0.5);
  background: #fff;
  color: #000;
  position: relative;
  margin: 4%;
}
.wrap .block-text {
  padding: 25px;
}
.wrap .block-text h1 {
  color: #000;
  font-size: 40px;
  margin: 30px 0;
}
.wrap .block-text hr {
  display: block;
  border: none;
  margin: 0;
  width: 30px;
  background: #efefef;
  margin-bottom: 25px;
  height: 2px;
}
.wrap .block-text p {
  font-weight: 300;
  line-height: 35px;
  font-size: 30px;
}
.wrap .block-date {
  display: inline-grid;
  grid-template-columns: 60% 40%;
  grid-gap: 0%;
  width: 100%;
}
/* .wrap .block-date {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
} */
.wrap .block-date p {
  line-height: 30px;
  font-size: 25px;
  position: absolute;
  bottom: 5px;
}
.wrap .block-date-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}
.wrap .date {
  color: #000;
  position: relative;
  z-index: 1;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0px 30px 0px 30px;
  font-size: 18px;
  opacity: 0;
  margin-bottom: 0px;
  transition: all 0.25s;
  /* -webkit-transform: translateY(40px);
          transform: translateY(40px); */
}
.wrap .day {
  float: left;
}
.wrap .time {
  float: right;
}
.wrap span {
  display: block;
  float: left;
  height: 10px;
  bottom: 0;
  left: 0;
  content: "";
}
.wrap span.dark {
  background: #5FB2B2;
}
.wrap span.light {
  background: #9BCFCF;
}
.wrap span.percent-75 {
  width: 60%;
}
.wrap span.percent-25 {
  width: 40%;
}
.wrap:hover {
  box-shadow: 0 10px 20px rgba(200, 201, 201, 0.5);
}
.wrap:hover .block-text h1 {
  margin-top: 5px;
}
.wrap:hover .block-text hr {
  height: 1px;
}
.wrap:hover .block-date .date {
  opacity: 1;
  padding: 25px 30px 0px 30px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.wrap:hover .block-date-bg span {
  height: 65px;
}
