<div class="container">
  <div class="content">
    <h1>
      Industrial Training Modules
    </h1>
    <p>
      ITM course serves as a hot melting pot of the dynamically changing needs of the industry. These modules are designed in collaboration with top industry and academic experts across various fields. A short term ITM is typically held for 2-3 days, whereas a full course in ITM requires 5-7 days depending upon the nature of training required. 
    </p>
    <h2>
      Content and general structure of an ITM
    </h2>   

    <h2>
      Circuit Branches:
    </h2>
    <ul>
      <li>Artificial Intelligence</li>
      <li>Machine learning </li>
      <li>Semiconductor Technology (material selection, fabrication, designing and packaging)</li>
      <li>Semiconductors in emerging technical drive through</li>
      <li>Data mining and analytics (Scope and Impact)</li>
    </ul>
    <h2>
      Non-Circuit Branches:
    </h2>
    <ul>
      <li>Automobile Design </li>
      <li>Strength of Materials </li>
      <li>Mechanical failures and their analysis</li>
    </ul>
    <h2>
      Inter-Disciplinary:
    </h2>
    <ul>
      <li>Nano science an emerging field</li>
      <li>Simulation in various branches of engineering and science</li>
      <li>Theoretical study approach in various fields related to science and engineering</li>
    </ul>
    <p>
      The entire training module is structured to reflect an extra ordinary show of theoretical understanding, live and practical demonstration of the concepts and honing the industrially relevant skillsets of the participants.
    </p>
  </div>
  <div class="grid_container">
    <div class="wrap">
      <div class="block-text">
        <h1>Opening Session</h1>
        <hr/>
        <h2>Module 01</h2>
        <p>Theoretical module, covering the entire evolution of the relevant technology to the present-day state of the art technology.</p>
        <h2>Panel will consist of - </h2>
        <p>
          Industry expert<br>
          Academic expert<br>
          Lab technician <br>
        </p>
      </div>
      <div class="block-date">
        <div><p class="date day">Time duration: </p></div>
        <div><p class="date time">2-3 hours</p></div>
      </div>
      <div class="block-date-bg"><span class="percent-75 dark"></span><span class="percent-25 light"></span></div>
    </div>
    <div class="wrap">
      <div class="block-text">
        <h1>Mid sessions</h1>
        <hr/>
        <h2>Module 02/03</h2>
        <p>These modules are practical demonstration and hands on/tool training based. After the required training, Students will be given individual or group projects to work on. Performance in the project will help the TOSE team to set a learning marker of the student and eventually in the final process of certification</p>
        <h2>Support team will consist of - </h2>
        <p>
          Professor/Research Scholar<br>
          Industry expert <br>
          Technicians<br>
        </p>
      </div>
      <div class="block-date">
        <div><p class="date day">Time duration: </p></div>
        <div><p class="date time">4-6 hours</p></div>
      </div>
      <div class="block-date-bg"><span class="percent-75 dark"></span><span class="percent-25 light"></span></div>
    </div>
    <div class="wrap">
      <div class="block-text">
        <h1>Penultimate Session</h1>
        <hr/>
        <h2>Module 03/04</h2>
        <p>This session will have exciting competitions among the participants. The nature of the competition is self-leveraging and help the participants develop sharp acumen in deep technical crisis.</p>
        <h2>Organizers will consist of - </h2>
        <p>
          Research Scholar<br>
          2-3 students Volunteer<br>
          Two/three technicians<br>
        </p>
      </div>
      <div class="block-date">
        <div><p class="date day">Time duration: </p></div>
        <div><p class="date time">1-2 hours</p></div>
      </div>
      <div class="block-date-bg"><span class="percent-75 dark"></span><span class="percent-25 light"></span></div>
    </div>
    <div class="wrap">
      <div class="block-text">
        <h1>Concluding Session</h1>
        <hr/>
        <h2>Module 05</h2>
        <p>This will be the concluding session. Summarizing the entire learning along with the distribution of certificates and awards towards the end of the program.</p>
        <h2>Organizing team - </h2>
        <p>
          Chief Guest/Patron<br>
          Scientists/Professors<br>
          Industry experts <br>
          2-3 students Volunteer<br>
          Two/three technicians<br>
        </p>
      </div>
      <div class="block-date">
        <div><p class="date day">Time duration: </p></div>
        <div><p class="date time">1 hours</p></div>
      </div>
      <div class="block-date-bg"><span class="percent-75 dark"></span><span class="percent-25 light"></span></div>
    </div>
  </div>
</div>