<div class="container">
  <div class="content">
    <h1>
      Career Mantra@TOSE
    </h1>
    <p>
      Whether you are a school, college or a university level student, Career Mantra@TOSE gives you a personalised interactive session in any area of science and engineering which you would like to get to the bottom of. All you need to do is to signup for the Career Mantra@TOSE by filling up the necessary questionnaire and we will get back to you with the best possible career expert in the related field. 
    </p>
    <h2>
      Why attending a Career Mantra@TOSE is a must for all those aspiring to build a career in any field of science and engineering?
    </h2>
    <ul>
      <li>You get a complete roadmap to build your career in the desired field</li>
      <li>You get a reality check between your aspirational and the professional journey when you speak to the field expert.</li>
      <li>You are empowered to take important career decisions on your own wisdom without being trapped into hoax and hypes. </li>
    </ul>
  </div>
</div>