<div class="container">
  <div class="content">
    <h1>
      Plug n Play Workshop in Schools
    </h1>
    <p>
      There are various interesting topics in science and mathematics which need an “Out of the Book” treatment. Under a typical classroom session with a prescribed format of syllabus and set examination pattern, it becomes nearly impossible on the educator’s end to bring the true joy of learning these concepts. TOSE acknowledges the limitations of system and is dedicated to workout many exciting and enjoyable learning package solution at school level.  
    </p>
    <h2>
      Plug n Play (PnP) workshops contents and general structure:
    </h2>   

    <h2>
      Mathematics:
    </h2>
    <ul>
      <li>Understanding number theory and system</li>
      <li>Basic geometry and related theorems</li>
      <li>Nature of algebraic equation and their Handling </li>
    </ul>
    <h2>
      Physics:
    </h2>
    <ul>
      <li>Mechanics elaborate session (theory+numericals+practical models etc.)</li>
      <li>Understanding nature of Gravity (freefall, blackhole)</li>
      <li>Heat and Temperature</li>
      <li>Mathematical methods in Physics</li>
    </ul>
    <h2>
      Chemistry:
    </h2>
    <ul>
      <li>World of Chemical reactions </li>
      <li>World of organic chemistry</li>
    </ul>
    <h2>
      Biology:
    </h2>
    <ul>
      <li>World of Cell biology </li>
      <li>Evolution theory or a fact</li>
    </ul>
    <h2>
      Miscellaneous:
    </h2>
    <ul>
      <li>Technology impacting human lives</li>
    </ul>
  </div>
  <div class="grid_container">
    <div class="wrap">
      <div class="block-text">
        <h1>Opening Session</h1>
        <hr/>
        <h2>Module 01</h2>
        <p>Theoretical module, covering the entire evolution of the subject matter. </p>
        <h2>Panel will consist of - </h2>
        <p>
          Scientist<br>
          Professors<br>
          Research Scholars<br>
        </p>
      </div>
      <div class="block-date">
        <div><p class="date day">Time duration: </p></div>
        <div><p class="date time">1-2 hours</p></div>
      </div>
      <div class="block-date-bg"><span class="percent-75 dark"></span><span class="percent-25 light"></span></div>
    </div>
    <div class="wrap">
      <div class="block-text">
        <h1>Mid sessions</h1>
        <hr/>
        <h2>Module 02</h2>
        <p>Live demonstration of practical applications of the concepts</p>
        <h2>Support team will consist of - </h2>
        <p>
          Scientist<br>
          Professors<br>
          Research Scholars<br>
          Lab Assistant<br>
        </p>
      </div>
      <div class="block-date">
        <div><p class="date day">Time duration: </p></div>
        <div><p class="date time">2 hours</p></div>
      </div>
      <div class="block-date-bg"><span class="percent-75 dark"></span><span class="percent-25 light"></span></div>
    </div>
    <div class="wrap">
      <div class="block-text">
        <h1>Concluding Session</h1>
        <hr/>
        <h2>Module 03</h2>
        <p>Competition and distribution of certificates to winners and each participant.  </p>
        <h2>Organizing team - </h2>
        <p>
          Research Scholars <br>
          Lab assistants<br>
          Student Volunteers<br>
        </p>
      </div>
      <div class="block-date">
        <div><p class="date day">Time duration: </p></div>
        <div><p class="date time">1-2 hours</p></div>
      </div>
      <div class="block-date-bg"><span class="percent-75 dark"></span><span class="percent-25 light"></span></div>
    </div>
  </div>
</div>