<div class="container">
  <div class="content">
    <h1>
      Ask an expert
    </h1>
    <p>
      When it comes to making important career decisions, “better be sure than be sorry”. Therefore, register for a one to one counselling session to take Career Mantra@TOSE. 
    </p>
    <h2>Signup for the form and we will connect you with TOSE experts who could be one of the following:</h2>
    <ul>
      <li>Scientist working in a reputed lab</li>
      <li>Professor working in a reputed academics</li>
      <li>Engineering professionals from top PSUs and Multinational companies</li>
      <li>Medical Professionals and Doctors  </li>
      <li>Research Scholars from the Ivy league institutions</li>
    </ul>
  </div>
</div>