<div class="container">
  <div class="content">
    <h1>
      TOSE, General Philosophy
    </h1>
    <p>
      We believe any scientific theory must be brought to life! Unfortunately, learning of science and engineering has turned out to be a stressful journey among the student community. This is mainly due to ill mapping of the theories taught in classroom with live examples, demonstrations and underlying applications. Under such academic milieu, a disconnect has brewed up between theoretical overdose in the classroom and their real meaning in the lives of student. 
      The inception of Theatre of Science and Engineering, TOSE is rooted in solving this problem of the ecosystem. Quite suggestive of its name, TOSE consciously handles every single micro detail to bring LIFE to the culture of learning Science and Engineering. 
    </p>
  </div>
</div>