<div class="container">
  <div class="logo_container">
    <img (click)="menuClicked('home', $event)" src="https://via.placeholder.com/150.jpg">
  </div>
  <div class="button_container" (click)="toggleFunc($event)" [ngClass]="{'active': toggle}">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>
</div>
<div class="lower_container">
  <app-home *ngIf="show.home"></app-home>
  <app-aboutus *ngIf="show.aboutus"></app-aboutus>
  <app-philosophy *ngIf="show.philosophy"></app-philosophy>
  <app-contact-us *ngIf="show.contactUs"></app-contact-us>
</div>

<div class="overlay" [ngClass]="{'open': toggle}">
  <nav class="overlay-menu">
    <ul>
      <li>
        <a href="#" (click)="menuClicked('aboutus', $event)">About Us</a>
        <!-- <ul class="submenu" *ngIf="show.weare">
          <li><a href="#" (click)="menuClicked('aboutus', $event)">About Us</a></li>
          <li><a href="#" (click)="menuClicked('philosophy', $event)">TOSE General Philosophy</a></li>
        </ul> -->
      </li>
      <li><a href="#" (click)="menuClicked('philosophy', $event)">Philosophy</a></li>
      <li><a href="#" (click)="menuClicked('contactUs', $event)">Contact Us</a></li>
    </ul>
  </nav>
</div>