.teaser-background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: -22;
}

.carousel-inner .active {
  visibility: show;
}

.carousel-inner .deactivate {
  visibility: hidden;
}

.carousel-indicators {
    bottom: 40%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto -100px;
    max-width: 200px;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.carousel-indicators li {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 10px;
  border-radius: 10px;
}

.carousel-indicators .active {
  background-color: #FF5252;
}

.carousel-indicators .deactivate {
  background-color: #FFF;
}